table {
  border-collapse: collapse;
  width: 100%;
}
td, th {
  padding: 8px;
  border: 1px solid #ffa2a2;
}
tr:nth-child(n+3):nth-child(6n+1) { background-color: #81D4FA; }
tr:nth-child(n+3):nth-child(6n+2) { background-color: #4A5D73; }
tr:nth-child(n+3):nth-child(6n+3) { background-color: #2EC4B6; }
tr:nth-child(n+3):nth-child(6n+4) { background-color: #EAE7DC; }
tr:nth-child(n+3):nth-child(6n+5) { background-color: #FF6B6B; }
tr:nth-child(n+3):nth-child(6n)   { background-color: #A7C7E7
; }
